.footer{
    background-color: rgb(18, 18, 18);
    color: #fff;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1427px) {
    .footer{
        height: 80vw;
    }

}
@media only screen and (max-width: 412px) {
    .footer{
        height: 80vw;
    }

}
@media only screen and (max-heigth: 915px) {
    .footer{
        height: 80vw;
    }

}